.toolbar-container {
    display: flex;
    align-items: center;
    height: 80px;
}

.backIcon {
    margin-left: 10px;
    margin-right: 10px;
}

.searchIcon {
    margin-right: 10px;
    margin-top: 5px;
}

.apply-margin {
    margin-left: auto;
}

.searchInput {
    color: white;
    background-color: black;
    margin-right: 2px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

.navImages {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

h3 {
    color: #BCBEC0
}

.searchOption {
    display: flex;
    margin-left: auto;
    width: 100%;
}

.title {
    white-space: nowrap;
    margin: 0px;
}

@media (min-width: 768px) {
    .toolbar-container {
        width: 100%;

    }

    .searchInput {
        margin-right: 20px;
    }

    .navImages {
        width: 30px;
        height: 30px;
    }
}